extends ../layout/partials/base

block content
  .hf-wrapper
    .hf-content
      h2 Pages
      ul
        li
          a(href="./home.html") Disable Caching
      h2 Documentation
      ul
        li
          a(href="./styleguide") Styleguide

