/***** Footer *****/
footer {
	position: relative;
	margin-top: 20px;
	padding: 20px;
  text-align: center;
	background: $primary;
	clear: both;
	// Logo footer style
	.logo {}
	// Copyright footer style
	.copyright {}
}
/***** End Footer *****/