doctype
html(lang= lang)
  head
    include ../partials/head
  body
    .l-app
      .l-app__head
        include ../partials/header
      main.l-app__body
        section
          block content
      .l-app__footer
        include ../partials/footer